#### Author : Sanjoy Biswas
#### Topic : Linear Regression Tutorial With Project Solving
#### Email : sanjoy.eee32@gmail.com

Linear regression is one of the easiest and most popular Machine Learning algorithms. It is a statistical method that is used for predictive analysis. Linear regression makes predictions for continuous/real or numeric variables such as sales, salary, age, product price, etc.

Linear regression algorithm shows a linear relationship between a dependent (y) and one or more independent (y) variables, hence called as linear regression. Since linear regression shows the linear relationship, which means it finds how the value of the dependent variable is changing according to the value of the independent variable.

#### Import Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from word2number import w2n
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [12]:
pip install word2number

Requirement already satisfied: word2number in c:\users\yogap\appdata\local\programs\python\python311\lib\site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

#### Import Dataset

In [2]:
df = pd.read_csv(r'C:\Users\yogap\OneDrive\Desktop\internship\FULL COURSE\Task-7\ML Algorithms\Linear Regression\hiring.csv')
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

#### Preprocessing Datasets

In [3]:
df.experience = df.experience.fillna('Zero')

In [4]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       Zero                    8.0                           9      50000
1       Zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
### Apply word_to_num
df.experience = df.experience.apply(w2n.word_to_num)

In [6]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [7]:
import math
median_test_score = math.floor(df['test_score(out of 10)'].mean())
median_test_score

7

In [8]:
dff = df['test_score(out of 10)'].mean()
dff

np.float64(7.857142857142857)

In [9]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(dff)

In [10]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [11]:
### Show Columns Name
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

#### Features Selection

In [12]:
predictors = ['experience', 'test_score(out of 10)', 'interview_score(out of 10)']
x = df[predictors]
y = df['salary($)']

#### Split Train and test datasets

In [24]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
x_train.shape,x_test.shape

((6, 3), (2, 3))

In [26]:
y_train.shape,y_test.shape

((6,), (2,))

#### Apply Linear Regression

In [27]:
reg = LinearRegression()

In [28]:
model = reg.fit(x_train,y_train)

In [29]:
model.predict([[8,6,7]])

c:\Users\yogap\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([66505.20542892])

#### Accuracy Score

In [30]:
model.score(x_train,y_train)

0.945171325224806

In [31]:
model.score(x_test,y_test)

0.9287916364000982